.dashboard {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.top-row, .middle-row, .bottom-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 200px; /* Ensures cards don't shrink too much */
}

.card h3 {
  margin-top: 0;
  color: #333;
}

.card p, .card ul {
  color: #666;
}

.highlight-card {
  background-color: #e0f7fa;
}

.highlight-card p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  color: #00796b;
  margin: 0;
}

.no-decor {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.no-decor li {
  margin-bottom: 5px;
}

.activity-images img {
  width: 100px;
  height: 100px;
  margin: 5px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .highlight-card p {
    font-size: 7rem;
  }
}

@media (max-width: 992px) {
  .highlight-card p {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .top-row, .middle-row, .bottom-row {
    flex-direction: column;
  }

  .highlight-card p {
    font-size: 4rem;
  }

  /* Adjust padding and font size for the graph */
  .card {
    padding: 15px;
  }

  .card h3 {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .dashboard {
    padding: 10px;
  }

  .highlight-card p {
    font-size: 3rem;
  }
}
