

.login-page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bfbfbf;
}

.login-page ::selection {
  color: #fff;
  background: yellow;
}

.login-page .login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login-page .login-wrapper {
  width: 380px;
  padding: 40px 30px 50px 30px;
  background: #323232;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-page .login-wrapper header {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}

.login-page .login-wrapper form {
  margin: 40px 0;
}

.login-page form .login-field {
  width: 100%;
  margin-bottom: 20px;
}

.login-page form .login-field.shake {
  animation: shake 0.3s ease-in-out;
}
h1{
    color: #fff;
}

@keyframes shake {
  0%, 100% {
    margin-left: 0px;
  }
  20%, 80% {
    margin-left: -12px;
  }
  40%, 60% {
    margin-left: 12px;
  }
}

.login-page form .login-field .input-area {
  height: 50px;
  width: 100%;
  position: relative;
}

.login-page form input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;
  background: none;
  color: #e1d9ec;
  border-radius: 5px;
  border: 1px solid #e1d9ec;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}

.login-page form .login-field input:focus,
.login-page form .login-field.valid input {
  border-color: #00C9A7;
}

.login-page form .login-field.shake input,
.login-page form .login-field.error input {
  border-color: #dc3545;
}

.login-page .login-field .input-area i {
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}

.login-page .input-area .icon {
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}

.login-page .input-area .error-icon {
  right: 15px;
  color: #dc3545;
}

.login-page form input:focus ~ .icon,
.login-page form .login-field.valid .icon {
  color: #00C9A7;
}

.login-page form .login-field.shake input:focus ~ .icon,
.login-page form .login-field.error input:focus ~ .icon {
  color: #bfbfbf;
}

.login-page form input::placeholder {
  color: #bfbfbf;
  font-size: 17px;
}

.login-page form .login-field .error-txt {
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}

.login-page form .login-field .error {
  display: none;
}

.login-page form .login-field.shake .error,
.login-page form .login-field.error .error {
  display: block;
}

.login-page form .pass-txt {
  text-align: left;
  margin-top: -10px;
}

.login-page .login-wrapper a {
  color: #00C9A7;
  text-decoration: none;
}

.login-page .login-wrapper a:hover {
  text-decoration: underline;
}

.login-page form input[type="submit"] {
  height: 50px;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background: #00C9A7;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.login-page form input[type="submit"]:hover {
  background: #22E4AC;
}

.login-page .sign-txt {
  color: #fff;
}

.login-page .credit {
  margin-top: 20px;
  text-align: center;
  color: #000;
 
}

.login-page .credit a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
